.proyections-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px; 
    padding: 16px; 
    margin: 0 auto;
  }
  
section {
    margin: 75px 30px
}

h2{
   text-decoration: underline;
}

.proyection-movie{
    padding: 16px; 
    display: flex;
    flex-direction: column;
    }

  .date-hour{
    color: white;
    background-color: rgb(83, 148, 201);
    padding: 5px;
    font-weight: bold;
   
  }



  .image-article{
    width: 100%;

  }
  
  @media (max-width: 900px) {
    .proyections-container {
      grid-template-columns: 1fr; /* Cambiar a una columna */
    }
  }