.proyections-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px; /* Espacio entre las columnas y filas */
    padding: 16px; /* Espacio interno del contenedor */
    margin: 0 auto;
  }
  
section {
    margin: 75px 30px
}

h2{
   text-decoration: underline;
}

  article{
    padding: 16px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; 
  }

  .image-article{
    width: 300px;

  }
  
  @media (max-width: 600px) {
    .proyection-container {
      grid-template-columns: 2fr; 
    }
  }